.weather-app {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.city-result {
  margin-left: 50px;
}

.search-button {
  border-radius: 3px;
  padding: 3px 4px;
  transition: all 200ms ease;
  background-color: rgb(95, 129, 224);
  font-size: 17px;
}
.search-button:hover {
  color: rgb(194, 199, 219);
  background: rgb(38, 47, 172);
}
.search-form {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.float-left {
  margin-left: 20px;
}

ul {
  list-style: none;
  margin-bottom: 20px;
}
.col-2 {
  font-size: 20px;
}

p {
  font-size: 25px;
}

.col-6 {
  margin-bottom: 20px;
}

.fa-cloud {
  color: white;
}

.fa-cloud-rain {
  color: rgb(88, 94, 109);
}

.clearfix .active {
  color: rgb(25, 25, 31);
  cursor: default;
}

.clearfix .active:hover {
  text-decoration: none;
}

.weather-forecast-temperature {
  margin-left: 30px;
}
